@charset "utf-8";
/*IGO board css*/


.detail:hover {
	text-decoration: underline;
	cursor: pointer;
}
#con_lf{
	position: relative;
	width: 90%;
	height: auto;
	margin-top: 170px;
	margin: 0 auto;
}
#con_lf:after{
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}
.tbl_head01 {
    margin: 0 0 10px;
}

.tbl_head01 thead th {
    padding: 10px 0;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
    height: 30px;
	line-height: 30px;
}

.tbl_wrap table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0 5px;
    border: 1px solid #ccc;
	text-align: center;
	font-size: 14px;
}

.tbl_head01 td {
    color: #666;
    background: #fff;
    padding: 10px 5px;
    border-top: 1px solid #ecf0f1;
    height: 60px;
    word-break: break-all;
	line-height: 60px;
}

.tbl_head01 tbody tr:hover td {
    background: #ededed;
}

.btnWrite{/*write button*/
	position: relative;
	float: right;
    margin: 0;
    padding: 0;
    list-style: none;
	width: 100px;
	height: 45px;
	background-color: #355B84;
	border: 1px solid #355B84;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	text-align: center;	
}
.btn_confirm::after{
	content:"";
	position: relative;
	display: block;
	clear: both;
	bottom: 30px;
}
.btnWrite a{
	color: #fff;
	line-height: 45px;
}

.btnWrite:hover{
	background-color: #fff;
	border: 1px solid #355B84;
}
.btnWrite:hover a{
	color:#063768;
}

/* 게시판 목록 list */
#bo_list {
	position:relative;
}
#bo_list:after {
	display:block;
	visibility:hidden;
	clear:both;
	content:"";
}

#bo_list tbody tr:hover {
	border-left:3px solid #063768;
}

/* 게시판 읽기 */
#bo_v {
	margin:50px 0;
	padding:20px;
	background:#fff;
	box-sizing:border-box;
}

#bo_v_table {
	position:absolute;
	top:0;
	right:16px;
	margin:0;
	padding:0 5px;
	height:25px;
	background:#ff3061;
	color:#fff;
	font-weight:bold;
	line-height:2.2em;
}

#bo_v_title .bo_v_tit{
	display:block;
	font-size:22px;
	margin:5px 0 0;
	word-break:break-all;
	text-align: center;
}

#bo_v_info {
	padding: 10px 0 15px;
	margin:0 0 20px;
	border-bottom:1px solid #ddd;
	color:#666;
}
#bo_v_info:after {
	content:"";
	display:block;
	visibility:hidden;
	clear:both;	
} 

#bo_v_info h2 {
	position:absolute;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
#bo_v_info strong {
	display:inline-block;
	margin:0 10px 0 0;
	font-weight:normal;
}

#bo_v_info .sv_member{
	font-weight:bold;
	color:#41495c;
}

#bo_v_info .if_date{
	font-size: 12px;
	float:right;
	font-style:italic;
	color:#888;
}

#bo_v_top {
	zoom:1;
	border-top: 1px solid #ddd;
	margin: 20px 0 0;
}

#bo_v_top:after {
	content:"";
	display:block;
	visibility:hidden;
	clear:both;	
}
#bo_v_top h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_top ul {padding:0;list-style:none;word-break:break-all}

#bo_v_bot {zoom:1}
#bo_v_bot:after {display:block;visibility:hidden;clear:both;content:""}
#bo_v_bot h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_bot ul {padding:0;list-style:none}

.bo_v_com {margin:20px 0;float:right}
.bo_v_com li {
	float:left;
	margin-left:10px;
	border: 1px solid #ccc;
	padding: 5px 8px;
	border-radius: 5px;
}

.bo_v_left {margin:20px 0;float:left}
.bo_v_left li {float:left;margin-right:5px}

.bo_v_nb {margin:20px 0;position:relative;clear:both;text-align:left;border-bottom:1px solid #ddd}
.bo_v_nb:after {display:block;visibility:hidden;clear:both;content:""}
.bo_v_nb li {border-top:1px solid #ddd;padding:13px;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.bo_v_nb li:hover{background:#f6f6f6}
.bo_v_nb li i{font-size:13px}
.bo_v_nb li .nb_tit{display:inline-block;padding-right:20px;color:#4567b5}
.bo_v_nb li .nb_date{float:right;color:#888}


#bo_v_atc {min-height:200px;height:auto !important;height:200px}
#bo_v_atc_title {position:absolute;font-size:0;line-height:0;overflow:hidden}
#bo_v_share{
	font-size: 14px;
}


/* 게시판 댓글 */
.reTopWrap{
   position:relative;
   width:100%;
   float:left;
   display:block;
}

.reTopWrap>.reT2{
	margin-left: 15px;
	font-size: 12px;
	vertical-align: middle;
	color: #777;
}

.cmt_btn{
	text-align:left ;
	width:100% ;
	border: 0;
	outline: none;
	color:#ed6478;
	font-weight:bold;
	font-size:16px;
	margin: 30px 0 0px;
	padding:0  0 5px;
	background-color: #fff;
	margin-left: 5px;
}
.cmt_btn>i{
	display: inline-block;
	width: 50px;
	font: normal normal normal 16px FontAwesome;
	color: #ed6478;
	vertical-align: middle;	
	font-style: normal;	
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-right: -25px;
	line-height: 16px;
}
.fa-angle-up{
	display: none;
}

.cmt_btn>i:nth-child(2), .cmt_btn>i:nth-child(3) {
	margin-left: 8px;
	font-size: 18px;
}

#bo_vc {}
#bo_vc h2 {
	position:absolute;
	font-size:0;
	line-height:0;
	overflow:hidden;
}
#bo_vc article {
	margin:20px 0;
	position:relative;
}
#bo_vc article .profile_img img{
	border-radius:50%;
}
#bo_vc header {}
#bo_vc header:after {
	content:"";
	display:block;
	visibility:hidden;
	clear:both;
}
#bo_vc header .icon_reply {
	position:absolute;
	top:15px;
	left:-20px;
}
#bo_vc .member, #bo_vc .guest, #bo_vc .sv_member, #bo_vc .sv_guest {
	font-weight:bold;
	font-size: 15px;
}
.bo_vc_hdinfo{
	float:right;
	font-style:italic;
	color:#777;
	font-size: 14px;
}
#bo_vc h1 {
	position:absolute;
	font-size:0;
	line-height:0;
	overflow:hidden}
#bo_vc .cmt_contents {
	padding:15px;
	margin:10px 0 0;
	background: #f8fafb;border-radius:5px;
	border: 1px solid #e8e8e8;
	line-height:1.8em;
	font-size: 16px;
}
#bo_vc p a {
	text-decoration:underline;
}
#bo_vc p a.s_cmt {
	text-decoration:underline;
	color:#ed6479;
}
#bo_vc_empty {
	margin:0;
	padding:80px 0 !important;
	color:#777;
	text-align:center;
}
#bo_vc #bo_vc_winfo {
	float:left;
}

.bo_vc_act {
	text-align:right;
	margin:0;list-style:none;
	zoom:1;
}
.bo_vc_act:after {
	content:"";
	display:block;
	visibility:hidden;
	clear:both;	
	margin-bottom: 15px;
}

.bo_vc_act li {
	display:inline-block;
	margin-top: 5px;
}
.bo_vc_act li a, .reBtn1, .reBtn2{
	padding:5px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height:23px;
	font-size: 12px;
	margin-right: 5px;
	list-style: none;
}

.reBtn2>i{
	margin-right: 5px;
}

.bo_vc_act li a:hover, 
.reBtn1:hover,
.reBtn2:hover{
	color: #fff;
	border: 1px solid #ed6478;
	background-color: #ed6478;
}

.modiContent{
   border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: top;
    border-radius: 3px;
    padding: 5px;
    width: 200px;
    height: 50px;
    float:left;
    margin-right:15px;
}

.bo_vc_w {
	position:relative;
	margin:10px 0;
	display:block;
}
.bo_vc_w:after {
	content:"";
	display:block;
	visibility:hidden;
	clear:both;	
}
.bo_vc_w h2 {
	position:absolute;
	font-size:0;
	line-height:0;
	overflow:hidden;
}

.bo_vc_w textarea{
	border:1px solid #ccc;
	background:#fff;
	color:#000;
	vertical-align:middle;
	border-radius:3px;
	padding:5px;
	width:100%;
	height:80px;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.bo_vc_w .btn_submit{
	height:40px;
	padding:0 20px;
	border-radius:3px;
	font-weight:bold;
	font-size:1.083em;
}
.bo_vc_w_wr:after {display:block;visibility:hidden;clear:both;content:""}

/*글쓰기*/
#bo_w{
	position: relative;
	display: block;
	width: 90%;
	max-width: 1300px;
	height: auto;
	min-height: 450px;
	top: 30px;
	margin: 0 auto;
}

#bo_w:after {
	content:"";
	position: relative;
	display:block;
	visibility:hidden;
	clear:both;
	margin-bottom: 50px;
}
#bo_w.write_div{
	position: relative;
	display: block;
	width: 100%;
	max-width: 800px;
	height: auto;
	min-height: 450px;
	margin: 0 auto;	
}

#bo_w .bo_w_info:after {display:block;visibility:hidden;clear:both;content:""}
#bo_w .bo_w_info .frm_input{float:left;width:33%}
#bo_w #wr_password{
	margin:0 0.5%;
}

#bo_w .bo_w_tit{
	position:relative;
}
#bo_w .bo_w_tit .frm_input{
	position: relative;
    width: 100%;
    height: auto;
    min-height: 36px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
	box-sizing: border-box;	
}
.wr_content textarea{
	margin-top: 5px;
	position: relative;
    width: 100%;
    height: auto;
    min-height: 150px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
	box-sizing: border-box;
	padding: 15px;
}

#bo_w .bo_w_link .frm_input{
	padding-left:50px;
}
#bo_w .bo_w_flie .lb_icon{
	position:relative;
	top:0px;
	left:5px;
	border-radius:3px 0 0 3px;
	height:38px;
	line-height:38px;
	width:40px;
	background:#eee;
	text-align:center;
	color:#888;
}
#bo_w .bo_w_flie .frm_file{
	margin-left:20px;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px;
}

.btn_confirm{
	margin-top: 10px;
	right: 5px;
	float: right;
}
#bo_w .bo_w_flie .file_wr{
	border:1px solid #ccc;
	background:#fff;
	color:#000;
	vertical-align:middle;
	border-radius:3px;
	padding:5px;
	height:40px;
	margin:0;
}
#bo_w .bo_w_flie .frm_input{
	margin:10px 0 0 ;
}
#bo_w .bo_w_flie .file_del{
	position:absolute;
	top:10px;right:10px;
	font-size:0.92em;
	color:#7d7d7d;
}
#bo_w .bo_w_select select{
	border:1px solid #3497d9;
	height:40px;
	border-radius:3px;
}

.btn_confirm i{
	margin-right: 5px;
}

.btn_submit, .btn_cancel{	
    margin-left: 10px;
    border: 1px solid #ccc;
    padding: 5px 8px;
    border-radius: 5px;
}

.btn_submit{
	background-color: #063768;
	color: #fff;
	cursor: pointer;
}


@media (max-width: 740px) {
#bo_w .bo_w_flie .frm_file{
	padding-left:10px;	
	font-size: 13px;
}	
}



