@charset "utf-8";
/* I GO member.CSS  */

/************ regist ******************/
#memWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 700px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#memForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 650px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 30px 25px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 50px;
	
}

#memberRegistForm ul{
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#memberRegistForm ul li{
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 auto;
}

#memberRegistForm ul li label{
	position: relative;
	display: inline-block;  
    width: 20%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	margin: 0 15px 0 0;
	padding: 0;		
}

#memberRegistForm input[type=email]{
	position: relative;
	width: 49%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 20px;
}

#memberRegistForm input[type=text],
#memberRegistForm input[type=password]  {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 20px;
}

#memberRegistForm input[type=button]{
	height: 38px;		
	font-size: 14px;
	padding: 0;
}

#emailComfirmBtn{
	position: relative;
	display: inline-block;	
	width: 78px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	white-space: nowrap;
	padding: 0 !important;
	font-size: 12px !important;
}
.checkWrap{
	position: relative;
	display: inline-block;
    width: 100%;
	max-width: 270px;
    height: 37px;
    text-align: left;
    white-space: nowrap;
	font-size: 13px;
	margin: 15px 0;
	line-height: 37px;
}

.checkWrap .chkbox2{
	position: relative; 
	display: inline-block;
    width: 15px;
    height: 15px;
	vertical-align: middle;
}

.viewBtn{
	position: relative;
	width: 31%;
	display: inline-block;
	margin-left: 20px;
    border: 1px solid #ccc;
    padding: 0px 30px 0px 10px;
    border-radius: 5px;	
	font-size: 13px;
	text-align: left;
}

.viewBtn:hover{
	background-color: #355B84;
	color:#fff;
}

.viewBtn>.viewBtnI{
	position: relative;
	display: inline-block;
	font-size: 23px;
	width: 25px;
	height: 25px;
	right: -3px;
    top: 5px;
	line-height: 20px;
}

.bottomBtn2{
	position: relative;
	display: inline-block;
	width: 100%;
	height: 50px;
	text-align: center;
	float: left;
	margin-top: 20px;
}

.bottomBtn2>#registBtn, .bottomBtn2>.cancelBtn{
	position: relative;
	display: inline-block;	
	border-radius: 3px;
	border: 1px solid #355B84;
	cursor: pointer;
}

.bottomBtn2>#registBtn{
	width: 60%;
	max-width: 200px;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;	
}

.bottomBtn2>.cancelBtn{	
	width: 40%;	
	max-width: 200px;
	background-color: #fff;
	color: #063768;
}

#registBtn:hover, #emailComfirmBtn:hover{
	color:#355B84;
	background-color: #fff;
}
.cancelBtn:hover{
	color:#063768;
	background-color: #ccc;
}

.regError{
	position: relative;
	font-size: 12px;
	margin-bottom:10px;
	vertical-align: middle;	
	left: 32%;
	text-align: left;
}

.redPoint{
	color:#ed6478;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}


@media only screen and (max-width: 710px){

#memberRegistForm input[type=email]{
	width: 46.5%;
}
#emailComfirmBtn{
	min-width: 9%;
}	
}

@media only screen and (max-width: 640px){
	#memberRegistForm input[type=email]{
	width: 44.5%;
}
}

@media only screen and (max-width: 530px){
#memForm{	
	padding: 20px 0;	
}	
	
#emailComfirmBtn{
	min-width: 8%;	
}
	
#memberRegistForm label{
	width: 10% ;
	margin: 0;
}	

#memberRegistForm input[type=email]{
	width: 42%;
	margin-left: 5px;
}

#memberRegistForm input[type=text],
#memberRegistForm input[type=password]  {
	margin-left: 5px;	
}
}

@media only screen and (max-width: 430px){
	#memberRegistForm input[type=email]{
	width: 37%;
}
}


	
/****** passwordConfirmForm ******/	
#pwconWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 300px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#pwconForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 250px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px 25px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 150px;
}

#passwordConfirmForm{
	max-height: 200px;
}


#passwordConfirmForm ul{
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#passwordConfirmForm ul li{
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 auto;
}

#passwordConfirmForm ul li label{
	position: relative;
	display: inline-block;  
    width: 20%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	margin: 0 15px 0 0;
	padding: 0;		
}

#passwordConfirmForm input[type=password] {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 20px;
}


#confirmBtn	{
	position: relative;
	width: 60%;
	margin: 30px 0;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	height: 38px;
	cursor: pointer;
}	

#confirmBtn:hover{
	color:#355B84;
	background-color: #fff;
}




@media only screen and (max-width: 520px)	{
#passwordConfirmForm{
	padding: 20px 0px;
}	
	
#passwordConfirmForm label{
	margin: 0;
}	

#passwordConfirmForm input[type=password]{		
	margin-left: 20px;
}
}

/****************** modify ******************/	
#modifyWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 450px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#modifyForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 400px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px 25px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 150px;
}

#modifyForm ul{
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

#modifyForm ul li{
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 auto;
}

#modifyForm ul li label{
	position: relative;
	display: inline-block;  
    width: 20%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	margin: 0 15px 0 0;
	padding: 0;		
}

#memberModifyForm input[type=text],
#memberModifyForm input[type=password] {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 20px;
}

#modifyBtn {
	position: relative;
	width: 60%;
	margin: 30px 0;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	height: 38px;
	cursor: pointer;
}	

#modifyBtn:hover{
	color:#355B84;
	background-color: #fff;
}

.modiError{
	position: relative;
	width: 100%;
	font-size: 12px;
	margin-bottom:10px;
	vertical-align: middle;	
	left: 33%;
	text-align: left;
}
@media only screen and (max-width: 680px){
.modiError{
	left: 5%;
}
}
@media only screen and (max-width: 520px)	{
.modiError{
	left: 0;
}	
#memberModifyForm{
	padding: 20px 0px;
}	
#memberModifyForm ul li label{
	margin: 0;
}	

#memberModifyForm input[type=text],
#memberModifyForm input[type=password] {	
	margin-left: 20px;	
}	
}

/****************** Find ******************/	
#memFindForm::after{
	position: relative;
	content: '';
    display: block;
    clear: both;
}

#memFindWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 350px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#memFindForm{
	position: relative;
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 300px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 50px;
}

.memFindEmail{
	margin-bottom: 30px;
}

.memFindEmail, .memFindPass{
	position: relative;
	display: block;
	width: 48%;
	max-width: 800px;
	height: auto;
	min-height: 470px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;	
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 50px;
	padding: 20px 10px;
	float:left;	
}

#memFindForm ul{
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	text-align: center;	
}

#memFindForm ul li{
	position: relative;
	display: inline-block;
	width: 100%;
	float: left;
	margin: 0 auto;
}

#memFindForm ul li label{
	position: relative;
	display: inline-block;  
    width: 15%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

#memFindForm input[type=text],
#memFindForm input[type=email],
#memFindForm input[type=password] {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 30px;
}

.mfsubTitle{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.errMsg{
	position: relative;
	font-size: 12px;
	margin-bottom:10px;
	vertical-align: middle;	
	left: 32%;
	text-align: left;
}
#EmailFindBtn, #newPassBtn, #setNewPassBtn {
	position: relative;
	width: 65%;
	margin: 30px 0 ;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	height: 38px;
	cursor: pointer;
}	

#EmailFindBtn:hover, #newPassBtn:hover, #setNewPassBtn:hover{
	color:#355B84;
	background-color: #fff;
}

.memFindPass{
	margin-left: 15px;
}

@media only screen and (max-width: 770px){
.memFindEmail, .memFindPass{
	width: 99%;
	padding: 20px 3px;
}
.memFindPass{
	margin-left: 0;
}	
}

@media only screen and (max-width: 520px)	{
#memFindForm ul li label{
	margin: 0;
	margin-right: 20px;
}
.errMsg{
	left: 35%;
}
}
	