@charset "utf-8";
/* I GO member.CSS  */






/************ regist ******************/
#memWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 650px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#memForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 700px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px 25px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 150px;
}
#memberRegistForm ul li{
	width: 100%;
}

#memberRegistForm ul li label{
	position: relative;
	display: inline-block;   
    width: 15%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 15px;
	white-space: nowrap;
}


#memberRegistForm input[type=email]{
	position: relative;
	width: 50%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 30px;
	right: 0;
}

#memberRegistForm input[type=text],
#memberRegistForm input[type=password]  {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 30px;
	right: 0;
}

#memberRegistForm input[type=button]{
	height: 38px;		
	font-size: 14px;	
}

#emailComfirmBtn{
	width: 10%;
	min-width: 84px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}
.checkWrap{
	position: relative;
    width: 100%;
	max-width: 400px;
    height: 20px;
	padding: 30px 0;
    text-align: left;
    white-space: nowrap;
	margin: 15px 0;
	font-size: 14px;
	margin-left: 25%;
	vertical-align: middle;
}
.checkWrap>.chkbox{
	position: relative;    
    width: 15px;
    height: 15px;
	bottom: 15px;
}
.viewBtn{
	position: relative;
	width: 31%;
	display: inline-block;
	margin-left: 20px;
    border: 1px solid #ccc;
    padding: 2px 10px;
    border-radius: 5px;	
	line-height: 37px;
	font-size: 14px;
}

.viewBtn>.viewBtnI{
	position: relative;
	font-size: 28px;
	width: 25px;
	height: 25px;
	right: -10px;
    top: 5px;
	line-height: 20px;
}


.bottomBtn2{
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	text-align: center;
}
.bottomBtn2>#registBtn{
	position: relative;
	width: 58%;
	max-width: 200px;
	margin-top: 20px;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	cursor: pointer;
}

.bottomBtn2>.cancelBtn{
	position: relative;
	width: 40%;
	max-width: 200px;
	margin-top: 20px;
	background-color: #fff;
	color: #063768;
	border-radius: 3px;
	border: 1px solid #355B84;
	cursor: pointer;
}

#registBtn:hover, #emailComfirmBtn:hover{
	color:#355B84;
	background-color: #fff;
}
.cancelBtn:hover{
	color:#063768;
	background-color: #ccc;
}

.regError{
	font-size: 12px;
	margin: 0 0 10px 5px;
	vertical-align: middle;
	margin-left: 22%;
}

.redPoint{
	color:#ed6478;
	font-size: 18px;
	font-weight: bold;
	vertical-align: middle;
}


@media only screen and (max-width: 510px){
#memForm{	
	padding: 0;	
}	
.regError{
	margin-left: 32%;
}
	.checkWrap{
		margin-left: 20%;
	}
	

	
#memberRegistForm label{
	margin: 0;
}

#memberRegistForm input[type=email]{
	width: 40%;
	margin-left: 35px;
}

#memberRegistForm input[type=text],
#memberRegistForm input[type=password]  {
	margin-left: 35px;
	width: 63%;
	}

}


	
/****** passwordConfirmForm ******/	
#pwconWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 300px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#pwconForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 250px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px 25px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 150px;
}

#passwordConfirmForm{
	max-height: 200px;
}

#passwordConfirmForm label{
	position: relative;
	display: inline-block;   
    width: 20%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 10px;
	white-space: nowrap;
}
#passwordConfirmForm input[type=text],
#passwordConfirmForm input[type=password] {
	position: relative;
	width: 58%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 25px;
}

#confirmBtn	{
	position: relative;
	width: 58%;
	max-width: 200px;
	margin-top: 45px;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	height: 38px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}	

#confirmBtn:hover{
	color:#355B84;
	background-color: #fff;
}

@media only screen and (max-width: 520px)	{
	#passwordConfirmForm label{
		margin: 0;
	}
	
	
#passwordConfirmForm input[type=text],
#passwordConfirmForm input[type=email],
#passwordConfirmForm input[type=password]{
		width: 60%;
		margin-left: 35px;
	}

}

/****************** modify ******************/	
#modifyWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 450px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#modifyForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 430px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;
	padding: 20px 25px;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 150px;
}

#modifyForm ul li{
	width: 100%;
}

#modifyForm ul li label{
	position: relative;
	display: inline-block;   
    width: 15%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 15px;
	white-space: nowrap;
}
#memberModifyForm input[type=text],
#memberModifyForm input[type=password] {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 30px;
	right: 0;
}

#modifyBtn {
	position: relative;
	width: 58%;
	max-width: 200px;
	margin-top: 40px;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	height: 38px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}	

#modifyBtn:hover{
	color:#355B84;
	background-color: #fff;
}

.modiError{
	margin-left: 22%;
	font-size: 12px;
}

@media only screen and (max-width: 600px){
.modiError{
	margin-left: 0;
}
}

@media only screen and (max-width: 520px){
	#memberModifyForm input[type=text],
	#memberModifyForm input[type=password]{
		margin-left: 45px;
	}
	

}

/****************** Find ******************/	
#memFindWrap{
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	min-height: 800px;
	margin: 0 auto;
	text-align: center;	
	top: 30px;
}

#memFindForm{
	width: 95%;
	max-width: 800px;
	height: auto;
	min-height: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 150px;
}

.memFindEmail, .memFindPass{
	width: 48%;
	max-width: 800px;
	height: auto;
	min-height: 440px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin: 0 auto;	
	box-sizing: border-box;
	text-align: left;
	margin-bottom: 50px;
	padding: 20px 10px;
	float:left;	
}

#memFindForm ul li{
	width: 100%;
	float: left;
	display: inline-block;
}

#memFindForm ul li label{
	position: relative;
	display: inline-block;   
    width: 15%;
    text-align: left;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 0 15px;
	white-space: nowrap;
}

#memFindForm input[type=text],
#memFindForm input[type=email],
#memFindForm input[type=password] {
	position: relative;
	width: 60%;
	height: 36px;
	font-size: 13px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 5px;
	padding-left: 5px;
	display: inline-block;
	margin: 30px 0 0 30px;
}

.mfsubTitle{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.memFindEmail{
	margin-bottom: 30px;
}


.errMsg{
	font-size: 12px;
	margin-bottom:10px;
	vertical-align: middle;
	position: relative;
	left: 28%;
}
#EmailFindBtn, #newPassBtn, #setNewPassBtn {
	position: relative;
	width: 58%;
	max-width: 200px;
	margin-top: 30px;	
	border-radius: 3px;
	border: 1px solid #355B84;
	background-color: rgba(0, 51, 102, 0.8);
	color: #fff;
	height: 38px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}	

#EmailFindBtn:hover, #newPassBtn:hover, #setNewPassBtn:hover{
	color:#355B84;
	background-color: #fff;
}


.memFindPass{
	margin-left: 15px;
}



@media only screen and (max-width: 770px){
	.memFindEmail, .memFindPass{
		width: 99%;
	}
	.memFindPass{
	margin-left: 0;
}
	.errMsg{
		left: 25%;
	}
	
}


@media only screen and (max-width: 520px)	{
	#memFindForm ul li label{
		margin: 0;
	}

}
	