@charset "utf-8";
/* I GO Subcom.CSS  */

.sub_common{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.sub_common>.headImg, .sub_common>.headImg1, .sub_common>.headImg2{
	position: relative;
	width: 100%;
	height: 200px;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;}


.sub_common>.subHeadMembers{	
	background: url(../img/headImg_join.jpg)no-repeat 0/cover;
}

.sub_common>.subHeadterms{
	background: url(../img/headImg_terms.jpg)no-repeat center/cover;
}

.sub_common>.subHeadSerch{	
	background: url(../img/headImg_search.jpg)no-repeat center/cover;	
}

.sub_common>.subHeadQna{	
	background: url(../img/headImg_qna.jpg)no-repeat 0/cover;	
}

.sub_common>.subHeadNotice{	
	background: url(../img/headImg_noti.jpg)no-repeat 0/cover;	
}

.sub_common>.headImg>h2{	
	position: absolute;
	display: inherit;
	color: #fff;
	line-height: 200px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.sub_common>.heading{
	position: relative;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	box-sizing: border-box;
}
.headTxt{
	position: relative;
	margin: 40px;	
	font-size: 30px;
}
.headTxt::after{
	content: "";
	position: absolute;
    border-bottom: 2px solid #41495c;
    width: 30px; 
    left: 50%;
	bottom: -20px;
    margin-left: -15px;  
}

.sub_common>.headBox>p{
		
}


.sub_common>.headBox>p span{
	font-size: 30px;
	font-weight: bold;
	margin-right: 5px;
}

.sub_common>.headBox> p::before{
	content: "";
	position: absolute;
    border-bottom: 1px solid #41495c;
    width: 30px; 
    left: 50%;
	top: -20px;
    margin-left: -15px; 
}
.sub_common>.headBox>p::after{
	content: "";
	position: absolute;
	display: inline-block;
    border-bottom: 2px solid #41495c;
    width: 100%;
	bottom: -20px;
	left: 50%;
	margin-left: -15px;

}



/****************** pagination ********************/

.pg_wrap:before{
	content:"";
	display: block;
	clear: both;
	top: 30px;
}
.pg_wrap{
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 1300px;	
	height: auto;
	min-height: 80px;
	top: 30px;	
	margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}	
	
.pg_wrap .pagination{
	position: relative;
	display: block;
	color: #063768;
	line-height: 30px;	
	margin: 0 auto;
	white-space: nowrap;
	width: 100%;
	min-width: 30px;
	height: 50px;
	text-align: center;
}
.pageNum:before{
	content: "";
	display: block;
	clear: both;
	top: 30px;
}
.pageNum{
	position: relative;
	display: inline-block;	
	height:45px;
	top:10px;	
	margin: 0 auto;
	text-align: center;	
}

.pagination a {  
	position: relative;
	display: inline-block;
	color: #063768;
    float: left;
    padding: 3px 12px;
    text-decoration: none;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 12.5px;
	width: auto;
	margin-right: 3px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.pagination a.active {
    background-color: #1eb4cf;
    color: #fff;
    border-radius: 5px;	
}

.pagination a:hover:not(.active) {
    background-color: #1eb4cf;
	border:1px solid #1eb4cf;
    border-radius: 5px;
	color: #fff;
}

/********* pagination End *************/

.bottonSearch:before{
	content: "";
	display: block;
	clear: both;
	margin-top: 20px;
}

.bottonSearch{
	position: relative;
	display: block;
	width: 50%;
	max-width: 700px;
	min-width: 100px;
	height: 40px;		
	margin: 0 auto !important;
	text-align: center;
	box-sizing: border-box;	
}

.bottonSearch>.bsInput{/*******입력창********/
	position: relative;
	display: block;
	width: 76%;
	max-width: 500px;
	border:1px solid #666;
	font-size: 14px;
	color:#777;
	float: left;
	padding: 0 5px;
	border-radius: 5px;
	box-sizing: border-box;	
	line-height: 38px;
	height: 40px;
}

.bottonSearch>.bsResetBtn, .bottonSearch>.bsBtn{ /*버튼 2개 셋팅*/
	position: relative;	
	float: left;
	width: 40px;
	height: 40px;
	border: 1px solid #355B84;	
	padding: 0 5px;
	border-radius: 5px;
	box-sizing: border-box;	
}

.bottonSearch i{/*버튼 2개의 아이콘*/
	position: relative;
	display: block;	
	line-height: 30px;
	font-size: 100%;
	font: normal 26px "Ionicons";
	border: none;
	cursor: pointer;
	z-index: 99;	
	border-radius: 15px;
	background: none;
	font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.bottonSearch>.bsBtn{/*검색버튼*/
	background-color: #355B84;
	margin: 0 3px;
}

.bsBtn>i{		
	top: 0;
	left: 0;
	color:#fff;
}

.bottonSearch>.bsResetBtn{/*리셋버튼*/
	color: #355B84;
}

.bsBtn:hover{
	background-color: #1eb4cf;
	border: #fff;
}
.bsBtn:hover .ion-md-search{
	color: #fff;
}
.bsResetBtn>.ion-md-refresh{
	top: 5px;
}
.bsResetBtn:hover .ion-md-refresh{
	color: #fff;
}

/******** 모바일 *********/
@media only screen and (max-width: 900px){
.bottonSearch>.bsInput{
	width: 70%;
}	
}


@media only screen and (max-width: 770px){
.sub_common>.headImg{
	margin-top: 60px;
}
	
.bottonSearch{
	width: 75%;
}
}



@media only screen and (max-width: 550px){
.bottonSearch{
	width: 80%;
}	
.bottonSearch>.bsInput{
	width: 66%;
}
}

@media only screen and (max-width: 400px){
.bottonSearch>.bsInput{
	width: 50%;
}
}


	
	

/*********************404ERROR*************************/
#errorWrap4, #errorWrap5{		
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
#errorWrap4{		
	background-color: #355B84;
}

#errorWrap4>.errUl,
#errorWrap5>.errUl {
	position: relative;
	display: block;
	width: 100%;
	max-width: 1300px;
	height: 100%;
	margin: 0 auto;		
}

#errorWrap4>.errUl>li,
#errorWrap5>.errUl>li {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	float: left;
	margin: 30px 0;	
}

#errorWrap4>.errUl>.errImg,
#errorWrap5>.errUl>.errImg {
	width: 100%;
	max-width:479px;
	margin: 30px 0;
	left: 50%;
	transform: translateX(-50%);
}

#errorWrap4>.errUl>.errImg{		
	background: url(../img/404.png)no-repeat top/100% 100%;	
}

#errorWrap5>.errUl>.errImg{	
	background: url(../img/500.png)no-repeat top/100% 100%;	
}

#errorWrap4>.errUl>.errImg::before,
#errorWrap5>.errUl>.errImg::before {
	content: '';
	display: block;
	padding-top: 80%;/*가로크기에 대한 80%*/
}

#errorWrap4>.errUl>.errImg::after,
#errorWrap4>.errUl>.errImg::after {
	content: '';
	position: relative;
	display: inline-block;
	clear: both;
}
#errorWrap4>.errUl>.errTxt,
#errorWrap5>.errUl>.errTxt {		
	font-size: 40px;
	font-weight: bold;
}

#errorWrap4>.errUl>.errTxt{
	color: #fff;
}
#errorWrap5>.errUl>.errTxt {
	color: #355B84;
}

#errorWrap4>.errUl>.errBtn a,
#errorWrap5>.errUl>.errBtn a{
	padding: 10px 20px;
    margin: 0 auto;
    background-color: #7accc8;    
    border-radius: 5px;
    font-size: 20px;
    margin-right: 3px;
    vertical-align: middle;
    cursor: pointer;
	font-weight: bold;
	color: #FFF;
}

#errorWrap4>.errUl>.errBtn a{
	border: 1px solid #355B84;
}

#errorWrap5>.errUl>.errBtn a{
	border: 1px solid #fff;
}


