@charset "utf-8";
/* I GO Subcom.CSS  */

.sub_common{
	position: relative;
	width: 100%;
/*	min-width: 760px;*/
	height: auto;
/*	min-height: 550px;*/
	margin: 0 auto;
	text-align: center;
	box-sizing: border-box;
}

.sub_common>.headImg, .sub_common>.headImg1, .sub_common>.headImg2{
	position: relative;
	width: 100%;
	height: 150px;
	margin-top: 80px;
	margin-bottom: 50px;
	text-align: center;
}


.sub_common>.subHeadMembers{	
	background: url(../img/headImg_join.jpg)no-repeat 0/cover;
}

.sub_common>.subHeadterms{
	background: url(../img/headImg_terms.jpg)no-repeat center/cover;
}

.sub_common>.subHeadSerch{	
	background: url(../img/headImg_search.jpg)no-repeat center/cover;	
}

.sub_common>.subHeadQna{	
	background: url(../img/headImg_qna.jpg)no-repeat 0/cover;	
}

.sub_common>.subHeadNotice{	
	background: url(../img/headImg_noti.jpg)no-repeat 0/cover;	
}

.sub_common>.headImg>h2{	
	position: absolute;
	display: inherit;
	color: #fff;
	line-height: 150px;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.sub_common>.heading{
	position: relative;
	width: 300px;
	height: 50px;
	margin: 0 auto;
	box-sizing: border-box;
}
.headTxt{
	position: relative;
	margin: 40px;	
	font-size: 30px;
}
.headTxt::after{
	content: "";
	position: absolute;
    border-bottom: 2px solid #41495c;
    width: 30px; 
    left: 50%;
	bottom: -20px;
    margin-left: -15px;  
}

.sub_common>.headBox>p{
		
}


.sub_common>.headBox>p span{
	font-size: 30px;
	font-weight: bold;
	margin-right: 5px;
}

.sub_common>.headBox> p::before{
	content: "";
	position: absolute;
    border-bottom: 1px solid #41495c;
    width: 30px; 
    left: 50%;
	top: -20px;
    margin-left: -15px; 
}
.sub_common>.headBox>p::after{
	content: "";
	position: absolute;
	display: inline-block;
    border-bottom: 2px solid #41495c;
    width: 100%;
	bottom: -20px;
	left: 50%;
	margin-left: -15px;

}

@media only screen and (max-width: 580px){
	
.sub_common>.headImg>h2{
	line-height: 170px;
}
}

/****************** pagination ********************/	
.pg_wrap{
	position: relative;
	width: 100%;
	height: auto;
	top: 20px;
	min-height: 100px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;	
	margin-bottom: 30px;
}	
	
.pg_wrap .pagination{
	position: relative;
	display: block;
	color: #063768;
	line-height: 30px;	
	margin: 0 auto;
	white-space: nowrap;
	width: 100%;
	min-width: 30px;
	height: 50px;	
	margin-bottom: 5px;
	text-align: center;
}
.pageNum:before{
	content: "";
	display: block;
	clear: both;
	top: 30px;
}
.pageNum{
	position: relative;
	display: inline-block;	
	height:45px;
	top:10px;	
	margin: 0 auto;
	text-align: center;	
}

.pagination a {  
	position: relative;
	display: inline-block;
	color: #063768;
    float: left;
    padding: 3px 12px;
    text-decoration: none;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 12.5px;
	width: auto;
	margin-right: 3px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.pagination a.active {
    background-color: #1eb4cf;
    color: #fff;
    border-radius: 5px;
	
}

.pagination a:hover:not(.active) {
    background-color: #1eb4cf;
	border:1px solid #1eb4cf;
    border-radius: 5px;
	color: #fff;
}

.pagination a .prevButton{
	
}

/*리스트로 가기 버튼*/

/********버튼부모********/
.goListWrap{
	position: relative;
	width: 100%;
	max-width: 1000px;
	height: auto;
	min-height: 50px;
	margin: 0 auto;
	padding: 0;
	margin-top: 80px;
	text-align: center;
	white-space: nowrap;
	box-sizing: border-box;
}

.goListBtn{	/*버튼3*/
	position: relative;
    float: right;
	width: 100%; 
	height: 50px;
	padding: 2px 15px;
	font-size: 17px;
	line-height: 50px;
	box-sizing: border-box;
	border-radius: 5px;	
	background-color: #3389d7;
	color: #ffffff;
}

.goListBtn a{/*버튼 글자색 공통*/
	color: #ffffff;
}

.goListBtn:hover{
	background-color:#7accc8;
}

.bottonSearch:before{
	content: "";
	display: block;
	clear: both;
	margin-top: 40px;
}
.bottonSearch{
	position: relative;
	display: block;
	width: 90%;
	height: 50px;
	max-width: 800px;
	min-width: 200px;	
	margin: 0 auto;
}

.bottonSearch>.bsInput, .bottonSearch>.bsResetBtn, .bsBtn {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0 3px;
	line-height: 40px;
	height: 40px;
	padding: 0 5px !important;
	border-radius: 5px;
	box-sizing: border-box;
	
}
.bottonSearch>.bsInput{
	width: 83%;
	min-width: 150px;
	border:1px solid #666;	
}
.bsBtn, .bottonSearch>.bsResetBtn{
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	border: 1px solid #063768;
	float: left;
	color: #063768;
}

.bottonSearch i{
	position: relative;
	display: block;
	color: #063768;
	text-align: center;	
	vertical-align: middle;
	line-height: 30px;
	font-size: 100%;
	font: normal 26px "Ionicons";
	background-color: transparent;
	border: none;
	cursor: pointer;
	z-index: 99;	
	border-radius: 15px;
	background: none;
	font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

.bsBtn>.ion-md-search{		
	top: 0;
	left: 0;
}
.bsBtn:hover{
	background-color: #063768;
}
.bsBtn:hover .ion-md-search{
	color: #fff;
}
.bsResetBtn>.ion-md-refresh{
	top: 5px;
}
.bsResetBtn:hover .ion-md-refresh{
	color: #fff;
}

/******** 모바일 *********/

@media only screen and (max-width: 840px){
	.bottonSearch>.bsInput{
		width: 80%;
	}
	

}
@media only screen and (max-width: 770px){
.sub_common>.headImg,
.sub_common>.headImg2,
.sub_common>.headImg3,
.sub_common>.headImg4,
.sub_common>.headImg5{
	margin-top: 60px;
}
.bottonSearch>.bsInput{
		width: 73%;
	}
}


@media only screen and (max-width: 580px){
	.bottonSearch>.bsInput{
		width: 60%;
	}
}